.rsbox {
    border-top: 1px solid #00B2EE;
    border-bottom: 1px solid #00B2EE;
    background-color: #FFFFFF;
    padding: 40px;
    text-align: left;
    text-transform: uppercase;
    margin: 30px;
}

.rstitle {
    color: white;
    background-color: #304153;
    margin-right: 750px;
    padding-left: 50px;
}

#aboutme img {
    width: 300px;
}

#skills img {
    width: 200px;
    /* text-align: center; */
}

#aboutme figure {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

#aboutme p, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

#contact img {
    position: relative;
    width: 100%;
    /* for IE 6 */
}

#contact > div#imgcontact {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}

#education, #experience, #aboutme, #contact, #skills {
    background-color: #304153;
    border-radius: 5px;
    color: #FFFFFF;
}

#experience p {
    color: black;
}

#education img {
    width: 200px;
    background-color: #FFFFFF;
}

#banner {
    background: url(../images/resume/pattern-bg.png) top left no-repeat;
    border-radius: 5px;
}

#bodybg {
     
    border-radius: 5px;
}