
<section id="album">
    <div class="form-group">
        <label for="search" class="col-xs-12 col-sm-2 control-label">ID Album:</label>

        <div class="col-xs-12 col-sm-10">
            <input type="number" class="form-control" ng-model="keyPress.albumId">
        </div>
    </div>

    <div ng-repeat="(albumId,value) in photos | filter:keyPress | groupBy:'albumId'">

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <div id="background" class="bg-success">
                <a href="/#!photos/album/{{albumId}}"><label for="albumId">{{albumId}}</label>
                    <img ng-src="images/photos/album.png" class="img  img-responsive img-rounded " alt="album id {{albumId}}"></a>
            </div>
            <!-- <li ng-repeat="player in value"> -->
            <!-- player: {{ player.title }} -->
            <!-- </li> -->
        </div>
    </div>
</section>