
<section id="album">
    <search-album></search-album>
    <div ng-repeat="(albumId,value) in photos | filter:keyPress | groupBy:'albumId'">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <div id="background" class="bg-success">
                <a href="/#!photos/album/{{albumId}}"><label for="albumId">{{albumId}}</label>
                    <img ng-src="images/photos/album.png" class="img  img-responsive img-rounded center-block" alt="album id {{albumId}}"></a>
            </div>
            <!-- <li ng-repeat="player in value"> -->
            <!-- player: {{ player.title }} -->
            <!-- </li> -->
        </div>
    </div>
</section>