<div class="form-group ">
    <div class="col-xs-12 col-sm-offset-2">
        <div class="navbar">
            <ul class="nav nav-pills">
                <li ng-class="{ active:listviewCtrl.isSet(1) }">
                    <a href ng-click="listviewCtrl.setTab(1)"><i title="image view" class="fa fa-picture-o" aria-hidden="true"></i>
                                
                               </a></li>
                <li ng-class="{ active:listviewCtrl.isSet(2) }">
                    <a href ng-click="listviewCtrl.setTab(2)"> <i title="table view" class="fa fa-table" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>