<!-- <form action="" method="POST" class="form-horizontal" role="form">
    <div class="form-group">
        <label for="albumId" class="col-xs-12 control-label col-xs-2">ID album:</label>
        <div class="col-xs-12 col-sm-10">
            <select class="form-control" ng-model="albumId">
                <option value="{{key}}" ng-repeat="(key, value) in photos | groupBy: 'albumId'">{{key}}</option>
            </select>
        </div>
    </div>
</form> -->
<div class="form-horizontal">
    <search-photo></search-photo>
    <listview-tab></listview-tab>
</div>
<!-- Page Content -->
<div >
    <!-- <div ng-show="photo.albumId == albumId"> -->
    <div ng-show="listviewCtrl.isSet(1)">
      <image-view></image-view>
    </div>
    <div ng-show="listviewCtrl.isSet(2)">
        <table-view></table-view>
    </div>
</div>
<!-- /.container -->