<table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>id</th>
                <th>url</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="photo in photos | filter:keyPress">
                <td>{{$index +1}}</td>
                <td>
                    {{photo.id}}
                </td>
                <th><a href="/#!photos/{{photo.id}}">{{photo.url}}</th>
                <td>
                    <a href="/#!photos/{{photo.id}}"><span><i class="fa fa-edit"></i></span></a>
                    </td>
            </tr>
        </tbody>
    </table>