#photos {
    display: inline-block;
}

.automargin {
    margin: auto;
    /* width: 100px; */
}

#album img {
    width: 60%;
    height: auto;
}

#album a:hover {
    color: red;
}

#background:hover, #photo li:hover {
    background-color: yellow;
}

/* .b-lazy {
    background-color: transparent;
    background-image: url('../images/photos/loading_icon.gif');
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 1%;
} */

