<!-- <div class="navbar">

    <ul class="nav navbar-nav text-uppercase nav-pills">
        <li ng-class="{active:tab.isSet(1)}">
            <a ng-click="tab.setTab(1)" href="/#!gems">Gem Store</a> </li>
        <li ng-class="{active:tab.isSet(2)}" role="presentation">
            <a ng-click="tab.setTab(2)" href="/#!resume">resume store</a></li>
        <li ng-class="{active:tab.isSet(3)}" role="presentation">
            <a ng-click="tab.setTab(3)" href="/#!photos">Photos store</a></li>
        <li ng-class="{active:tab.isSet(4)}" role="presentation">
            <a ng-click="tab.setTab(4)" href="/#!weathers">Weathers store</a></li>
        <li ng-class="{active:tab.isSet(5)}" role="presentation">
            <a ng-click="tab.setTab(5)" href="/#!todo">Todo store</a></li>
    </ul>
</div> -->

<nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#!">SOK KIM THANH</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse text-uppercase">
        <ul class="nav navbar-nav ">
            <li ng-class="{active:tab.isSet(1)}">

                <a ng-click="tab.setTab(1)" href="/#!resume">
                    <span><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    </span>resume</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown">apps <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li ng-class="{active:tab.isSet(2)}" role="presentation">
                        <a ng-click="tab.setTab(2)" href="/#!gems">Gem Store</a> </li>
                    <li ng-class="{active:tab.isSet(3)}" role="presentation">
                        <a ng-click="tab.setTab(3)" href="/#!photos">Photos store</a></li>
                    <li ng-class="{active:tab.isSet(4)}" role="presentation">
                        <a ng-click="tab.setTab(4)" href="/#!weathers">Weathers store</a></li>
                    <li ng-class="{active:tab.isSet(5)}" role="presentation">
                        <a ng-click="tab.setTab(5)" href="/#!todo">Todo store</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>