<nav class="controller">
    <div class="row">
        <div class="col-xs-4 col-md-4">
            <!-- icon config-->
            <div class="pull-left">
                <!-- <button class="btn btn-default"> <i class="fa fa-cog   "></i>
                <span class="sr-only">Loading...</span>
              </button> -->
            </div>
        </div>
        <div class="col-xs-4 col-md-4">
            <!-- nameapp -->
            <div class=" text-center">
                <h1 class=" text-capitalize">todolist</h1>
            </div>

        </div>
        <div class="col-xs-4 col-md-4">
            <!-- icon bell -->

            <div class="pull-right">
                <!-- <button class="btn btn-info">
                    <i class="fa fa-bell  "></i>
                </button> -->
            </div>
        </div>
    </div>
</nav>