<h3 class="rstitle">educations</h3>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-inline" ng-repeat="edu in resume.educations">
            <div class="row">
                <div class="col-xs-4">
                    <li>
                        <p>
                            <a ng-href="{{edu.url}}" target="_blank">
                                <img class="img img-thumbnail img-responsive" ng-src="{{edu.logo}}" alt="{{edu.schoolname}}">
                            </a>
                        </p>
                    </li>
                </div>
                <div class="col-xs-8">
                    <li>
                        <span class="label label-primary">{{edu.years}}</span>
                    </li>
                </div>
                <li>
                    <p> {{edu.activity}}</p>
                </li>
            </div>

        </ul>
    </div>
</div>