<h3 class="rstitle">experiences</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Experience {{resume.experience.id}}</h3>
            </div>
            <div class="panel-body">
                <ol>
                    <li>
                        <p>What: {{resume.experience.what}} </p>
                    </li>
                    <li>
                        <p>Why: {{resume.experience.why}} </p>
                    </li>
                    <li>
                        <p>How: {{resume.experience.how}} </p>
                    </li>
                </ol>
            </div>
        </div>

    </div>
</div>