<div ng-init="weatherCtrl.date.createdOn"></div>

<div ng-repeat="wea in weatherCtrl.weathers">
  
    <div ng-repeat="w in wea.weather">
        <header>
            <h2><strong>Weather in {{wea.name}}, {{wea.sys.country}}</strong></h2>
        </header>
        <ul class="list-inline">
            <li> <img class="img img-circle img-responsive" ng-src="https://openweathermap.org/img/w/{{w.icon}}.png" width="50"
                    height="50"> </li>

            <li>
                <h2> <strong>{{wea.main.temp}}°C</strong></h2>
            </li>
        </ul>
        <span class="label label-default">{{w.main}}</span>
        <p>
            <!-- 07:48 Aug 13 -->
            {{weatherCtrl.date.createdOn | date:"hh:mm MMM dd"}}
        </p>
    </div>


    <table class="table table-bordered table-responsive table-striped">
        <tbody>
            <tr ng-show="wea.wind.speed && wea.wind.deg">
                <td>Wind</td>
                <td>
                    Light breeze, {{wea.wind.speed}} m/s , Southwest ( {{wea.wind.deg}} )
                </td>
            </tr>
            <tr ng-show="wea.clouds.cloudiness">
                <td>Cloudiness</td>
                <td>{{wea.clouds.cloudiness}}</td>
            </tr>
            <tr ng-show="wea.main.pressure">
                <td>Pressure</td>
                <td>{{wea.main.pressure}} hpa</td>
            </tr>
            <tr ng-show="wea.main.humidity">
                <td>Humidity</td>
                <td>{{wea.main.humidity}} %</td>
            </tr>
            <tr ng-show="wea.sys.sunrise">
                <td>Sunrise</td>
                <td>{{wea.sys.sunrise | date:"hh:mm"}}</td>
            </tr>
            <tr ng-show="wea.sys.sunset">
                <td>Sunset</td>
                <td>{{wea.sys.sunset | date:"hh:mm"}}</td>
            </tr>
            <tr ng-show="wea.coord.lat && wea.coord.lon">
                <td>Geo coords</td>
                <td>
                    <a href="/weamap?zoom=8&amp;lat={{wea.coord.lat}}&amp;lon={{wea.coord.lon}}" class="title">
                                    [
                                    <span>{{wea.coord.lat}}</span>
                                    ,&nbsp;
                                    <span>{{wea.coord.lon}}</span>
                                    ]
                                </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>