<h3 class="rstitle">about me</h3>
<div class="row">
    <div class="col-xs-4">
        <figure>
            <img class="img img-thumbnail img-responsive" ng-src="{{resume.infomation.images.avatar}}" alt="Hinh cv sok kim thanh">
            <figcaption>
                {{resume.infomation.fullname}}
            </figcaption>
        </figure>
    </div>
    <div class="col-xs-8">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr ng-show="resume.infomation.fullname">
                        <th>fullname</th>
                        <td>
                            {{resume.infomation.fullname}}
                        </td>
                    </tr>
                    <tr ng-show="resume.infomation.sex">
                        <th>sex</th>
                        <td>
                            {{resume.infomation.sex}}
                        </td>
                    </tr>
                    <tr ng-show="resume.infomation.dob">
                        <th>Birthday</th>
                        <td>
                            {{resume.infomation.dob}}
                        </td>
                    </tr>
                    <tr ng-show="resume.infomation.dob| ageFilter">
                        <th>Age</th>
                        <td>
                            {{resume.infomation.dob| ageFilter}}
                        </td>
                    </tr>
                    <tr ng-show="resume.infomation.address">
                        <th>Living at</th>
                        <td>
                            {{resume.infomation.address}}, {{resume.infomation.city}} city, {{resume.infomation.country}}
                        </td>
                    </tr>
                    <tr ng-show="resume.infomation.favorites">
                        <th>favorite</th>
                        <td>
                            <div class="row" ng-repeat="fav in resume.infomation.favorites">
                                <div class="col-xs-1" ng-show="fav.id"> {{fav.id}} </div>
                                <div class="col-xs-11">
                                    <span class="label"> {{fav.name}} </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="resume.infomation.job">
                        <th>future</th>
                        <td>
                            <p>{{resume.infomation.job}}</p>
                        </td>
                    </tr>
                    <tr ng-show="resume.infomation.description">
                        <th>description</th>
                        <td>
                            <p>{{resume.infomation.description}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>