<h3 class="rstitle"><i class="fa fa-info-circle"></i> about me</h3>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
        <figure class="text-center">
            <img class="img img-thumbnail img-responsive" ng-src="{{resume.infomation.images.avatar}}" alt="Hinh cv sok kim thanh">
            <figcaption>
                <span><a class="btn btn-primary" href="{{resume.infomation.fb}}"><i class="fa fa-facebook-official"></i>/sok.thanh</a></span>
            </figcaption>
        </figure>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8">
        <p><i class="fa fa-id-card" aria-hidden="true"></i> {{resume.infomation.fullname}}
        </p>
        <p><i class="fa fa-male" aria-hidden="true"></i> {{resume.infomation.sex}}
        </p>
        <p><i class="fa fa-calendar" aria-hidden="true"></i> {{resume.infomation.dob}}
        </p>
        <p><i class="fa fa-birthday-cake"></i> {{resume.infomation.dob| ageFilter}} years old</p>
        <p><i class="fa fa-location-arrow"></i> {{resume.infomation.address}}, {{resume.infomation.city}} city, {{resume.infomation.country}}</p>
        <!-- <div class="col-xs-1" ng-hide="fav.id"> p </div> -->
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-star"></i> favorites
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse">
                    <div class="panel-body">
                        <ul id="favorites" class="list-group">
                            <li class="list-group-item" ng-repeat="fav in resume.infomation.favorites">
                                <p>{{fav.name}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p><i class="fa fa-code" aria-hidden="true"></i> {{resume.infomation.job}}
        </p>
        <p><i class="fa fa-file-text" aria-hidden="true"></i> {{resume.infomation.description}}
        </p>
    </div>
</div>