<h3 class="rstitle">experiences</h3>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="list-gorup">
            <h3>experience {{resume.experience.id}}</h3>
            <div class="list-group-item">
                <p class="text-lowercase">
                    <span><strong class="text-uppercase">Why</strong></span><br>{{resume.experience.why}} </p>
                <p class="text-lowercase">
                    <span><strong class="text-uppercase">What</strong> </span><br>{{resume.experience.what}}</p>
                <p class="text-lowercase">
                    <span><strong class="text-uppercase">How</strong> </span> <br>{{resume.experience.how}}</p>
            </div>
        </div>
        <!-- <div class="list-gorup">
            <h3>history</h3>
            <div class="list-group-item">
                <p class="text-lowercase">
                    First of all, I am very happy to talking about my history programing. 
                </p>
                <p class="text-lowercase">
                    I am living in a digital age. <strong>1991</strong>-<span class="label label-primary">current</span>
                </p>
            </div>
        </div> -->
    </div>
</div>