<div class="navbar">
    <ul class="nav nav-pills">
        <li ng-class="{ active:tabCtrl.isSet(1) }">
            <a href ng-click="tabCtrl.setTab(1)">About</a></li>
        <li ng-class="{ active:tabCtrl.isSet(2) }">
            <a href ng-click="tabCtrl.setTab(2)">skills</a>
        </li>
        <li ng-class="{ active:tabCtrl.isSet(3) }">
            <a href ng-click="tabCtrl.setTab(3)">experience</a>
        </li>
        <li ng-class="{ active:tabCtrl.isSet(4) }">
            <a href ng-click="tabCtrl.setTab(4)">education</a>
        </li>
        <li ng-class="{ active:tabCtrl.isSet(5) }">
            <a href ng-click="tabCtrl.setTab(5)">contact</a>
        </li>
    </ul>
</div>