<div class="navbar">
    <ul class="nav nav-pills nav-stacked">
        <li ng-class="{ active:skillTabCtrl.isSet(1) }">
            <a href ng-click="skillTabCtrl.setTab(1)">Framework</a></li>
        <li ng-class="{ active:skillTabCtrl.isSet(2) }">
            <a href ng-click="skillTabCtrl.setTab(2)">Database</a>
        </li>
        <li ng-class="{ active:skillTabCtrl.isSet(3) }">
            <a href ng-click="skillTabCtrl.setTab(3)">english</a>
        </li>
        <li ng-class="{ active:skillTabCtrl.isSet(4) }">
            <a href ng-click="skillTabCtrl.setTab(4)">software</a>
        </li>
    </ul>
</div>