<h3 class="rstitle">skills</h3>

<div class="table-responsive">
    <table class="">
        <tbody>
            <skills-tab></skills-tab>
            <tr ng-show="skillTabCtrl.isSet(1)" class="row" ng-repeat="lang in resume.skills.languages">
                <td class="col-xs-2">
                    <a href><img ng-show="lang.icon" class="img img-rounded img-responsive" ng-src="{{lang.icon}}" alt="{{lang.icon}}"></a>
                </td>
                <td class="col-xs-10">
                    <div class="list-group">
                        <div ng-show="lang.framework" class="list-group-item">
                            <span for="framework" class="label label-danger">{{lang.framework}}</span>
                        </div>
                        <div ng-show="lang.level" class="list-group-item">
                            <span for="level" class="label label-primary">Level {{lang.level}}</span>
                        </div>
                        <div ng-show="lang.version" class="list-group-item">
                            <span for="version" class="label label-warning">Version {{lang.version}}</span>
                        </div>
                        <div ng-show="lang.status" class="list-group-item">
                            <span for="status" class="label label-success">{{lang.status}}</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr ng-show="skillTabCtrl.isSet(2)" class="row">
                <td class="col-xs-2">
                    <a href><img ng-show="resume.skills.databases.icon" class="img img-rounded img-responsive" ng-src="{{resume.skills.databases.icon}}" alt="{{resume.skills.databases.name}}"></a>
                </td>
                <td class="col-xs-10">
                    <div class="list-group">
                        <div class="list-group-item">
                            <span for="name" class="label label-danger">{{resume.skills.databases.name}}</span>
                        </div>
                        <div class="list-group-item">
                            <span for="level" class="label label-primary">{{resume.skills.databases.level}} </span>
                        </div>
                        <div class="list-group-item">
                            <span for="status" class="label label-success">{{resume.skills.databases.status}} </span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr ng-show="skillTabCtrl.isSet(3)" class="row" ng-repeat="eng in resume.skills.english">
                <td class="col-xs-2">
                    <a href><img ng-show="eng.icon" class="img img-rounded img-responsive" ng-src="{{eng.icon}}" alt="{{eng.icon}}"></a>
                </td>
                <td class="col-xs-10">
                    <div class="list-group">
                        <div class="list-group-item">
                            <span for="book" class="label label-danger">{{eng.book}}</span>
                        </div>
                        <div class="list-group-item">
                            <span for="level" class="label label-primary">{{eng.level}}</span>
                        </div>
                        <div class="list-group-item">
                            <span for="status" class="label label-success">{{eng.status}}</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr ng-show="skillTabCtrl.isSet(4)" class="row" ng-repeat="soft in resume.skills.softwares">
                <td class="col-xs-2">
                    <a href><img ng-show="soft.icon" class="img img-rounded img-responsive" ng-src="{{soft.icon}}" alt="{{soft.name}}"></a>
                </td>
                <td class="col-xs-10">
                    <div class="list-group">
                        <div class="list-group-item">
                            <span for="name" class="label label-danger">{{soft.name}}</span>
                        </div>
                        <div class="list-group-item">
                            <span for="level" class="label label-primary">{{soft.level}}</span>
                        </div>
                        <div class="list-group-item">
                            <span for="status" class="label label-success">{{soft.status}}</span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>